src/book.xsd

<?xml version="1.0"?>
<xsd:schema version="1.0"
            targetNamespace="http://xml.netbeans.org/schema/books" 
            xmlns="http://xml.netbeans.org/schema/books" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">
    <xsd:element name="book" type="Book"/>
    <xsd:complexType name="Book">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="author" type="xsd:string"/>
            <xsd:element name="price" type="xsd:positiveInteger"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
